@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
    box-sizing: border-box;
    
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    background:hsl(244, 38%, 16%);
    
  }
  ::-webkit-scrollbar-thumb {
    background:hsl(277, 64%, 61%);
    border-radius: 10px;
  }
body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: hsl(244, 38%, 16%);
    max-width: 1109px;
    height: 446px;
    border-radius: 10px;
    
}

main .image-container{
    max-width: 100%;
    background-color:  hsl(277, 64%, 61%);
    border-radius:0 10px  10px 0 ;
}

main img{
    min-width: 40%;
    height: 100%;
    background: hsl(277, 64%, 61% .5);
    mix-blend-mode: multiply;

}

.left{
    padding: 0 66px;
}

.left div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    padding-top: 40px;
}

.left h1 span{
    color:hsl(277, 64%, 61%);
}
.left p{
    width: 100%;
    opacity: .5;
    font-size: 1rem;
    line-height: 1.6;

}
h3:not(span){
    font-size: 1.4rem;
}
h3 span{
    display: block;
    text-transform: uppercase;
    font-size: .5em;
    opacity: .5;
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 3px;
    font-weight: 400;
}

@media (max-width: 900px){
    main{
        width: 70%;
        min-width: 40%;
        height: 70%;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin: 45px 0;
        border-radius:  0 0 10px 10px;
    }
    .left div{
       
        flex-direction: column;
        max-width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    main img{
        max-width: 100%;
        
}
    main .image-container{
        border-radius:10px  10px 0 0  ;
    }
}