*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    min-width: 348px;
    height: 374px;
    background-color: white;
    border-radius: 10px;
}   