@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 95%);
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
}

main .card{
    width: 305px;
    height: 506px;
    background-color: white;
    padding: 46px 43px;
    color: white;
}

.card h1{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.4rem;
}

.card p{
    font-family: 'Lexend Deca', sans-serif;
    padding: 37px 0 50px 0;
    font-weight: 400;
    
}
main .card:nth-child(1){
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px  0 0 10px ;
}

main .card:nth-child(2){
    background-color: hsl(184, 100%, 22%);
    
}

main .card:nth-child(3){
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}
main .card button{
    width: 60%;
    height: 5vh;
    border: none;
    border-radius: 50px;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
    white-space: nowrap;
}
.btn-1{
    color: hsl(31, 77%, 52%);
}
.btn-2{
    color: hsl(184, 100%, 22%);
}
.btn-3{
    color: hsl(179, 100%, 13%);
}


@media screen and (max-width: 800px) {
    main{
        height: 200vh;
        display: flex;
        flex-direction:column;
        justify-content: center;
    }   
    .card{
        border-radius:0 !important;
    }
}

.attribution { 
    font-size: 11px;
     text-align: center; 
    font-family: 'Lexend Deca', sans-serif;}
.attribution a { 
    color: hsl(228, 45%, 44%); }