@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;1,500&display=swap');

body{
    margin: 0;
    padding: 0; 
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    main{
        width: 80%;
        max-width: 1300px;
        margin: auto;
        
        div{
            border: 2px solid gray;
            padding: 1.4em;
        }
    }
       
}