@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;1,500&display=swap');

body{
    margin: 0;
    padding: 0; 
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    main{
        width: 80%;
        max-width: 1300px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:  1em;
        div{
          
            padding: 1.4em;
            border-radius: 10px;
           
            img{
                border-radius: 50%;
            }

            &:nth-child(1){
                background-color: hsl(263, 55%, 52%);
            }
            &:nth-child(2){
                background-color: hsl(217, 19%, 35%);
                
            }
            &:nth-child(3){
                background-color: hsl(0, 0%, 100%);
            }
            &:nth-child(4){
                background-color: hsl(219, 29%, 14%);
            }
            &:nth-child(5){
                background-color: hsl(0, 0%, 100%);
            }
        }
    }
       
}