@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;500;600&display=swap');
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    main{
        padding: 25px 0 ;
        width: 75%;
        max-width: 1300px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:  1em;
        div{
            box-shadow: 0 0 19px 0 rgba(0, 0, 0, .2);
            padding: 1.4em;
            border-radius: 10px;
            h4{
                
                span{
                    display: block;
                    font-weight: 300;

                }
            }
            
            img{
                border-radius: 50%;
                display: inline;
            }
            h4:not(strong){
                display: block;
            }
            p{
                font-weight: 300;
                opacity: .7;
                line-height: 1.2em;
            }
            &:nth-child(1){
                background-color: hsl(263, 55%, 52%);
                grid-column: 1/3;
                color: white;
            }
            &:nth-child(2){
                background-color: hsl(217, 19%, 35%);
                color: white;
            }
            &:nth-child(3){
                background-color: hsl(0, 0%, 100%);
                
                
            }
            &:nth-child(4){
                background-color: hsl(219, 29%, 14%);
                grid-column: 2/4;
                color: white;
            }
            &:nth-child(5){
                background-color: hsl(0, 0%, 100%);
                grid-column: 4;
                grid-row: 1/3;
                
            }
        }
    }
       
}