@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}


body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: hsl(225, 100%, 94%);
    
}

body img{
    width: 100%;
    height: 50vh;
    position: absolute;
    z-index: -1;
    margin: 0;
    padding:0;

}

main{
    width: 455px;
    height: 701px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    text-align: center; 
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 30px -4px hsl(224, 23%, 55%);
}

main img{
    position: relative;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 225px;
}

main h1{
    padding-top: 50px ;
    font-weight: 900;
}
main p{
    width: 294px;
    height: 68px;
    opacity: .6;
    margin: auto;
}
.price{
    background-color: hsl(225, 100%, 98%);
    width: 327px;
    height: 95px ;
    margin: 24px auto;
    padding: 24px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}


.price div{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 50%;
}
.price h4 span{
    display: block;
    opacity: .5;
    
}

.price img{
    width: 50px;
    height: auto;
    z-index: 1;
   
}
.price h5{
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
    cursor: pointer;

}
.infos{
    height: 100vh;
    color: hsl(223, 47%, 23%);
}
button{
    width: 80%;
    padding: 19px 0;
    border-radius: 10px;
    border: none;
    background-color: hsl(245, 75%, 52%);
    font-weight: 700;
    color: white;
    box-shadow: 0 8px 14px -4px hsl(224, 23%, 55%);
    font-size: 14px;
}
section h5{
    opacity: .7;
}

.attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
